.github
.husky
.vscode
docker
node_modules
.cz.json
knip.json
.eslintignore
.eslintrc.cjs
.gitattributes
.gitconfig
.gitignore
.git
.inflintignore
.nvmrc
.prettierignore
.prettierrc.cjs
CHANGELOG.md
commitlint.config.cjs
czvinyl.config.ts
inflint.config.cjs
lint-staged.config.cjs
README.md
release.config.cjs
renovate.json
tsconfig.eslint.json
tsconfig.json
tsconfig.tsbuildinfo

apps/frontend/tsconfig.tsbuildinfo
apps/frontend/.gitignore
apps/frontend/.eslintrc.cjs
apps/frontend/.eslintignore
apps/frontend/node_modules
apps/frontend/.next
apps/frontend/tsconfig.eslint.json
apps/frontend/_templates
