version: '3.8'

services:
    localstack:
        container_name: '${LOCALSTACK_DOCKER_NAME:-localstack-main}'
        image: localstack/localstack-pro
        ports:
            - '127.0.0.1:4566:4566'
            - '127.0.0.1:4510-4559:4510-4559'
            - '127.0.0.1:443:443'
        environment:
            - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN:-ls-DiHu3449-HUgO-cica-SUbU-deWeRIgU565f}
            - DEBUG=${DEBUG:-0}
            - PERSISTENCE=${PERSISTENCE:-0}
        volumes:
            - '${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack'
            - '/var/run/docker.sock:/var/run/docker.sock'

    mongo_launcher:
        container_name: mongo_launcher
        image: mongo:7.0.4
        restart: on-failure
        networks:
            - dashboard_network
        volumes:
            - ./docker/scripts/mongo-setup.sh:/scripts/mongo-setup.sh
        entrypoint: ['sh', '/scripts/mongo-setup.sh']
    mongo_replica_1:
        container_name: mongo_replica_1
        image: mongo:7.0.4
        ports:
            - 27017:27017
        restart: always
        entrypoint: ['/usr/bin/mongod', '--bind_ip_all', '--replSet', 'dbrs', '--dbpath', '/data/db', '--port', '27017']
        volumes:
            - ./.volumes/mongo/replica1:/data/db
            - ./.volumes/mongo/replica1/configdb:/data/configdb
        networks:
            - dashboard_network
    mongo_replica_2:
        container_name: mongo_replica_2
        image: mongo:7.0.4
        ports:
            - 27018:27018
        restart: always
        entrypoint: ['/usr/bin/mongod', '--bind_ip_all', '--replSet', 'dbrs', '--dbpath', '/data/db', '--port', '27018']
        volumes:
            - ./.volumes/mongo/replica2:/data/db
            - ./.volumes/mongo/replica2/configdb:/data/configdb
        networks:
            - dashboard_network
    mongo_replica_3:
        container_name: mongo_replica_3
        image: mongo:7.0.4
        ports:
            - 27019:27019
        restart: always
        entrypoint: ['/usr/bin/mongod', '--bind_ip_all', '--replSet', 'dbrs', '--dbpath', '/data/db', '--port', '27019']
        volumes:
            - ./.volumes/mongo/replica3:/data/db
            - ./.volumes/mongo/replica3/configdb:/data/configdb
        networks:
            - dashboard_network

networks:
    dashboard_network:
        driver: bridge
